@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    background-color: #2b2f42;
    color: #fff;
}



 


/*main > div {
    background-color: #353a50;
    border: none;
}*/
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}



section {
    background-color: #353a50;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.text-focus {
    color: #ff66c4;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-style: normal;
}

footer {
    background-color: #353a50;
}
    footer .border-top {
        border-top:none  ;
    }